javawsexample/BancaSucursal/WebContent/wsdl/SucursalesSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:mbc="http://www.mybanca.org/Sucursales/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Sucursales" targetNamespace="http://www.mybanca.org/Sucursales/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.mybanca.org/Sucursales/">
      <xsd:element name="crearCliente">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="codCliente" type="xsd:string"/>

          	<xsd:element name="nombreCliente" type="xsd:string"/>
          	<xsd:element name="apellidoPCliente" type="xsd:string"/>
          	<xsd:element name="apellidoMCliente" type="xsd:string"/>
          	<xsd:element name="codSucursal" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="crearClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="creacionOK" type="xsd:boolean"/>

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarCliente">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="codCliente" type="xsd:string"/>

      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarClienteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="nombreCliente" type="xsd:string"/>

      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="crearClienteRequest">
    <wsdl:part element="mbc:crearCliente" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="crearClienteResponse">
    <wsdl:part element="mbc:crearClienteResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="consultarClienteRequest">
  	<wsdl:part element="mbc:consultarCliente" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="consultarClienteResponse">
  	<wsdl:part element="mbc:consultarClienteResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Sucursales">
    <wsdl:operation name="crearCliente">
      <wsdl:input message="mbc:crearClienteRequest"/>
      <wsdl:output message="mbc:crearClienteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultarCliente">
    	<wsdl:input message="mbc:consultarClienteRequest"/>
    	<wsdl:output message="mbc:consultarClienteResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SucursalesSOAP" type="mbc:Sucursales">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearCliente">
      <soap:operation soapAction="http://www.mybanca.org/Sucursales/crearCliente"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarCliente">
      <soap:operation soapAction="http://www.mybanca.org/Sucursales/consultarCliente"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sucursales">
    <wsdl:port binding="mbc:SucursalesSOAP" name="SucursalesSOAP">
      <soap:address location="http://localhost:8085/BancaSucursal/services/SucursalesSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
