javawsexample/Promocion2013Client/WebContent/WEB-INF/ContratoSOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.tcs.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.tcs.com" xmlns:intf="http://www.tcs.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://www.tcs.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="NewOperation">
    <complexType>
     <sequence>
      <element name="in" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="NewOperationResponse">
    <complexType>
     <sequence>
      <element name="out" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="NewOperationRequest">

      <wsdl:part element="impl:NewOperation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="NewOperationResponse">

      <wsdl:part element="impl:NewOperationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Contrato">

      <wsdl:operation name="NewOperation">

         <wsdl:input message="impl:NewOperationRequest" name="NewOperationRequest">

       </wsdl:input>

         <wsdl:output message="impl:NewOperationResponse" name="NewOperationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ContratoSOAPSoapBinding" type="impl:Contrato">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="NewOperation">

         <wsdlsoap:operation soapAction="http://www.tcs.com/NewOperation"/>

         <wsdl:input name="NewOperationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="NewOperationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Contrato">

      <wsdl:port binding="impl:ContratoSOAPSoapBinding" name="ContratoSOAP">

         <wsdlsoap:address location="http://localhost:8090/Promocion2013/services/ContratoSOAP"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>